{% extends 'blog/base.html' %}

    {% block content %}
        <div class="post">
            {% if post.published_date %}
            <div class="date"> 
                {{ post.published_date }}     
            </div>                               
            {% endif %}                
            <h3>{{ post.title }}</h3>
            <img src="{{ post.image.url }}"  alt="Иллюстрация" style="max-width:100%;height:auto;">
            <p>{{ post.text|safe }}</p>
        </div>
        
        {% for comment in comments %}
            <div class="comment">
                <div class="date"> 
                    {{ comment.published_date }}
                </div>
                <p>{{ comment.text|safe }}</p>
            </div>
        {% endfor %}
        
            <h4>New comment</h4>  
            <form method="POST" class="post-form">{% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Save</button>
            </form>
        
    {% endblock %}